<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="+'-用户登陆'">用户登陆</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/js-lib/jquery-1.12.3.min.js}"></script>
    <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/bootstrap3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
          th:href="@{/bootstrap3/js/bootstrap.min.js}"
          rel="stylesheet" media="screen" />

    <link rel="stylesheet" href="/login/account/style.css"/>

    <script type="text/javascript">
			$(function() {
				var errorHtml = $.trim($("#showErrors").html());
				//alert(errorHtml);
				if(errorHtml!=''){
					$("#showErrors").css("display", "block");
				}
			});
		</script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="header my-top-header" style="border-top: 3px solid #ddeb00; height: auto;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#FFF" ><span class="glyphicon glyphicon-lock"></span><strong>&nbsp;登陆</strong><small th:text="+'('++')'" style="color:#FFF;">版本</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="register-container container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="register col-md-7">
            <form method="post" id="addForm">
                <div class="form-group form-group-lg text-left">
                    <input name="targetUrl" type="hidden" value="${targetUrl}"/>
                    <div class="alert alert-danger" id="showErrors" style="display: none;" role="alert" th:text="${errMsg}"></div>
                    <input name="token" type="hidden" value="${token}"/>
                    <h2><span class="red"><strong>用户登陆</strong></span></h2>
                    <label for="email">用户名</label>
                    <input type="text" name="username" id="email" class="form-control input-xlarge" placeholder="请输入用户名" required="required"/>
                    <label for="pwd">登陆密码</label>
                    <input type="password" name="password" id="pwd" class="form-control input-xlarge" placeholder="请输入登陆密码" required="required"/>
                    <p class="text-center">
                        <button type="submit">提交登陆</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/login/account/jquery.backstretch.min.js"></script>
<script src="/login/account/scripts.js"></script>
</body>
</html>