<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="/js-lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css"/>

    <script src="/flowplayer/flowplayer-3.2.13.min.js"></script>

    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/ckeditor/test.js"></script>

</head>
<body>

<div class="container">
    <div class="alert alert-info">
        <h1>测试ckeditor</h1>
    </div>

    <textarea id="editor1">

    </textarea>
</div>

<script>
    initSample();
</script>

</body>
</html>