.cate-title {
    color:#444;
}
ul.cate-ul-list {
    float:left; width:100%; color:#888; padding:0px; margin-top:3px;
}
ul.cate-ul-list li {
    list-style:none; line-height:30px; float:left; width:100%;
}

ul.cate-ul-list li i {
    padding-right:10px;
}

ul.cate-ul-list li a:link, ul.cate-ul-list li a:visited {
    color:#888; font-size:16px;
}
ul.cate-ul-list li a:hover {
    color:#333;
}