<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminNoticeController.list" href="/admin/notice/list"><span class="glyphicon glyphicon-th-list"></span>公告列表</a></li>
                    <li><a class="auth" sn="AdminNoticeController.add" href="/admin/notice/add"><span class="icon-plus"></span>添加公告</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
