<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>版本控制系統</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="/stylelib/base.css" rel="stylesheet" type="text/css"/>
    <!-- // plugins css -->

    <!-- // plugins css -->
    <link href="/stylelib/plugins/font-awesome/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/iealert/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-button.css" rel="stylesheet"
          type="text/css"/>
    <link href="/stylelib/plugins/chosen/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/tags-input/jquery.tagsinput.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/colorpicker/colorpicker.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/datepicker/datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/clockface/clockface.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/plugins/wysihtml5/style.css" rel="stylesheet" type="text/css"/>


    <!-- // theme css -->
    <link href="/stylelib/theme_default/screen.css" rel="stylesheet" type="text/css"/>
    <link href="/stylelib/theme_default/blue.css" rel="stylesheet" type="text/css"/>

    <!-- // head js -->
    <script src="/stylelib/plugins/modernizr.js"></script>
    <link href="/stylelib/cp.css" rel="stylesheet" type="text/css"/>

    <script src="/libs/home.js"></script>
</head>
<body>

<!--//header:start ***********************************************-->
<div id="header">

    <div class="container">
        <h1 id="logo">
            <a th:href="@{/}" class="m-logo-ucas" title="版本管理系統主页" alt="版本管理系統">
                <img src="/stylelib/images/CPLog.png" alt=""/>
                <span>版本管理系統</span>
            </a>
        </h1>

        <ul class="b-toplink">
            <li><a th:href="@{/}"><span>加入收藏</span></a></li>
            <li><a th:href="@{/}"><span>联系我们</span></a></li>
            <li><a th:href="@{/}"><span>登陆</span></a></li>
        </ul>
    </div><!--//container-fluid:end-->
</div><!--//header:end-->

<div class="b-maincontent">
    <div class="container">

        <div class="row-fluid">

            <div class="span3">
                <div class="b-side">
                    <ul class="b-sidenav">
                        <li class="yjcd_1">版本管理</li>
                        <li>
                            <a href="/check/list">部署版本</a>
                            <a href="">线上版本</a>
                        </li>
                    </ul><!--//b-sidenav:end-->
                </div><!--//b-side:end-->
                <br/>
                <br/>
                <div class="b-side">
                    <ul class="b-sidenav">
                        <li class="yjcd_2">配置文件</li>
                        <li>
                            <a href="">配置列表</a>
                        </li>

                    </ul><!--//b-sidenav:end-->
                </div><!--//b-side:end-->
                <br/>
                <br/>

            </div><!-- //span3:end -->

            <div class="span9">
                <div class="b-pagecontent">
                    <h2>编辑版本控制信息</h2>
                    <div class="b-abody">

                        <div class="mc-body">

                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal" th:object="${checkInfoOnline}" method="post">
                                <div style="padding-left:150px;">

                                    <input type="hidden" th:field="*{id}"/>

                                    <div class="control-group">
                                        <label class="control-label">应用appid</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly"  th:field="*{appid}" placeholder="appid">

                                        </div>
                                    </div>


                                    <div class="control-group">
                                        <label class="control-label">应用名称</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{appname}" placeholder="appname">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">渠道id</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{channelid}">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">渠道名称</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{channelname}">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">应用版本</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{appversion}">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">更新策略</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{updatestrategy}" placeholder="更新策略 1:提示更新 2:强制更新 3:不更新">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">资源baseUrl</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{baseurl}">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">apk跟新地址</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{apkurl}">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">提示更新集合</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{promptcollection}" placeholder="例如：1.0,1.1">

                                        </div>
                                    </div>


                                    <div class="control-group">
                                        <label class="control-label">强制更新集合</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{forcecollection}" placeholder="例如：1.0,1.1">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">排除更新集合</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{excludecollection}" placeholder="例如：1.0,1.1">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">更新信息</label>
                                        <div class="controls">
                                            <input type="text" class="span8 " readonly="readonly" th:field="*{updateinfo}">

                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions">
                                    <!--<button type="submit" class="btn tijiao btn-success">保存</button>-->
                                    <button type="button" class="btn tijiao" onclick="index();" >返回</button>
                                </div>
                            </form>
                            <!-- END FORM-->

                        </div>


                    </div>
                    <!--//b-abody:end-->
                </div><!-- //b-pagecontent:end -->
            </div><!-- //span9:end -->

        </div><!--//row-fluid:end-->

    </div><!--//container:end-->
</div>


<!--// Loading JS -->
<script src="/stylelib/jquery-1.10.2.min.js"></script>
<script src="/stylelib/base.js"></script>

<!--common script for all pages-->
<script src="/stylelib/theme_default/global.js"></script>

<!--script for this page only-->
<script src="/stylelib/plugins/bootstrap-switch/static/js/bootstrap-switch.js"></script>
<script src="/stylelib/plugins/chosen/chosen.jquery.js"></script>
<script src="/stylelib/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/stylelib/plugins/wysihtml5/bootstrap-wysihtml5-0.0.2.js"></script>
<script src="/stylelib/plugins/clockface/clockface.js"></script>
<script src="/stylelib/plugins/tags-input/jquery.tagsinput.js"></script>
<script src="/stylelib/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/stylelib/plugins/daterangepicker/date.js"></script>
<script src="/stylelib/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/stylelib/plugins/colorpicker/bootstrap-colorpicker.js"></script>
<script src="/stylelib/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/stylelib/plugins/bootstrap-inputmask.min.js"></script>
<script src="/stylelib/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>

<script src="/stylelib/theme_default/my_form_component.js"></script>

<!--// JS End -->
</body>
</html>