body { background-color: #f6f6f6; }


/*------------------------------------------------------------
* header
*/
#header { background-color: #eef3f9; }

#logo a span { color: #464646; }

#logo a i { color: #666; }


/*------------------------------------------------------------
* b-pagenavbar
*/
.b-pagenavbar { background-color: #004098; }

.b-menu li .bm-btn { color: #fff; }
.b-menu li .bm-btn:hover,
.b-menu li.open .bm-btn,
.b-menu .active .bm-btn {
    background-color: #002B66;
    border-left-color: #002B66;
}

.b-menu li.m-first {
    border-left-color: #002B66;
}

.b-menu li.m-last {
    border-right-color: #0058D0;
}

.b-menu li .bm-btn {
    border-left-color: #0058D0;
    border-right-color: #002B66;
}

/*-------------------------------------------------------------
* m-pagebox
*/

.m-pagebox .mp-title {
	border-bottom:3px solid #B1C7D3;
    color: #004098;
}

.m-pagebox .m-more {
    color:#09C;
}

.m-pagebox .m-more:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}


/*-------------------------------------------------------------
* b-side
*/
.b-sidenav li ul {
    border-top: 3px solid #004098;
}

.b-sidenav li.active a {
    color: #004098;
}

/*-------------------------------------------------------------
* footer
*/

#footer {
    background-color: #004098;
}

#footer .container {
    background: transparent url(../images/footer-logo-w.png) 0 5px no-repeat;
}

.b-footer-copy,
.b-footer-add,
.b-footer-beian a {
    color: #fff;
}

.b-footer-link .dropdown-toggle {
        color: #fff;
}

.b-footer-link .dropdown-toggle .caret {
    border-top-color: #fff;
}

.b-footer-link .dropdown-toggle:hover {
    background-color: transparent;
}




