<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie7" lang="zh"><![endif]-->
<!--[if IE 7]> <html class="no-js ie7" lang="zh"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8" lang="zh"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="zh"> <![endif]-->
<!--[if IE 10]><html class="no-js ie ie10 lt-ie11" lang="zh"><![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="zh"> <!--<![endif]-->
    <head>
        <title>院系网站 - 中国科学院大学</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- // base css -->
        <link href="../stylelib/base.css" rel="stylesheet" type="text/css" />
        <!-- // plugins css -->

        <!-- // theme css -->
        <link href="../stylelib/theme_tow/screen.css" rel="stylesheet" type="text/css" />
        <link href="../stylelib/theme_tow/blue.css" rel="stylesheet" type="text/css" />

        <!-- // head js -->
        <script src="../stylelib/plugins/modernizr.js"></script>
    </head>
    <body>
    <!-- 
    // body
    // 在后台可以设置这里的背景图片和平铺不平铺的属性及位置 style代码。
    // style="background: transparent url("****") 0 0 no-repeat;"
    // transparent 表示透明色，可是只#f6f6f6类似的16进制的颜色值
    // url:是图片地址
    // 0 0: 定位属性，如果是横向平铺图片的话不用修改。X轴 Y轴
    // no-repeat: 不平铺。 这里可以指定是横向平铺还是竖向平铺 repeat-x , repeat-y
     -->

        <!--//topbar:start ***********************************************-->
        <div id="alert-upgrade-nojs">
            <ul>
                <li class="aun-up"><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer is missing updates required to properly view this site. Click here to update…</a></li>
                <li class="aun-js">您的浏览器已禁用JavaScript,(da)启(kai)用才能正常访问！</li>
            </ul>
        </div><!--//topbar:end-->
        

        <!--//header:start ***********************************************-->
        <div id="header">
        <!-- 
        // #header
        // 在后台可以设置这里的背景图片和平铺不平铺的属性及位置 style代码,背景图片高度限制在 64px 。
        // style="background: transparent url("****") 0 0 no-repeat;"
        // url:是图片地址
        // 0 0: 定位属性，如果是横向平铺图片的话不用修改。X轴 Y轴
        // no-repeat: 不平铺。 这里可以指定是横向平铺还是竖向平铺 repeat-x , repeat-y
         -->

            <div class="container">
                <h1 id="logo">
                    <a href="" class="m-logo-ucas" title="返回中国科学院大学" alt="中国科学院大学">
                        <img src="../stylelib/images/logo_ucas3.png" alt="">
                        <span>中国科学院大学</span>
                    </a>
                    <!-- m-logo-ucas: a标签的连接地址（title与alt属性）和img图片在后台可编辑和选择（上传）（默认地址指向科学院大学中文网首页） -->
                    <a href="" class="m-logo-sys" title="返回院系网站名称" alt="院系网站名称">
                        <img src="../stylelib/images/test/logo_sys.png" title="返回虚拟经济与数据科学研究中心" alt="虚拟经济与数据科学研究中心">
                        <span>院系网站名称</span>
                    </a>
                    <!-- m-logo-sys: a标签的连接地址（title与alt属性）和img图片在后台可编辑和选择（上传）（默认连接为本网站首页） -->
                </h1>
                
                <ul class="b-toplink">
                    <li><a href=""><span>English</span></a></li>
                    <li><a href=""><span>加入收藏</span></a></li>
                    <li><a href=""><span>联系我们</span></a></li>
                    <li><a href=""><span>登陆</span></a></li>
                </ul>
            </div><!--//container-fluid:end-->
        </div><!--//header:end-->

        <!--//page nav bar:start *****************************************-->
        <div class="b-pagenavbar">
            <div class="container">
                <ul class="b-menu">
                <!--
                // b-menu
                // 在后台设置背景颜色或者图片，同功能同header一样。
                // style="background: transparent url("****") 0 0 no-repeat;"
                // 在后台里需要这只这里是否添加 no-line 这个类名，添加上这个类名导航各个选项之间的分割线样式取消。
                -->
                    <li class="bm-node active"><a href="index.html" class="bm-btn">首页</a></li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">模板演示</a>
                        <ul class="bm-tomenu">
                            <li><a href="index-2.html">首页演示2</a></li>
                            <li><a href="">首页演示3</a></li>
                            <li><a href="">aaa</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目1</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目1-1</a></li>
                            <li><a href="">栏目1-2</a></li>
                            <li><a href="">栏目1-3</a></li>
                            <li><a href="">栏目1-4</a></li>
                            <li><a href="">栏目1-5</a></li>
                            <li><a href="">栏目1-6</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目2</a>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目3</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目3-1</a></li>
                            <li><a href="">栏目3-2</a></li>
                            <li><a href="">栏目3-3</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目4</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目4-1</a></li>
                            <li><a href="">栏目4-2</a></li>
                            <li><a href="">栏目4-3</a></li>
                            <li><a href="">栏目4-4</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目5</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目5-1</a></li>
                            <li><a href="">栏目5-2</a></li>
                            <li><a href="">栏目5-3</a></li>
                            <li><a href="">栏目5-4</a></li>
                            <li><a href="">栏目5-5</a></li>
                            <li><a href="">栏目5-6</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目6</a>
                         <ul class="bm-tomenu">
                            <li><a href="">栏目6-1</a></li>
                            <li><a href="">栏目6-2</a></li>
                            <li><a href="">栏目6-3</a></li>
                            <li><a href="">栏目6-4</a></li>
                            <li><a href="">栏目6-5</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目7</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目7-1</a></li>
                            <li><a href="">栏目7-2</a></li>
                            <li><a href="">栏目7-3</a></li>
                            <li><a href="">栏目7-4</a></li>
                            <li><a href="">栏目7-5</a></li>
                        </ul>
                    </li>
<form  class="navbar-form search-cp-input" method="get" action="">
			<input type="text" name="queryCoursinfobyname" value="">
			<button class="search-cp" type="submit">
				<i class="icon-search"></i><span>搜索</span>
			</button>

		</form>
                </ul><!--//b-menu:end-->
                            </div><!--//container:end-->
        </div><!--//b-pagenavbar:end-->

        <div class="b-maincontent"> 
            <div class="container">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="b-hero">
                            <div id="homecarousel" class="carousel slide">
                                 <ol class="carousel-indicators">
                                    <li data-target="#homecarousel" data-slide-to="0" class="active">1</li>
                                    <li data-target="#homecarousel" data-slide-to="1">2</li>
                                    <li data-target="#homecarousel" data-slide-to="2">3</li>
                                    <li data-target="#homecarousel" data-slide-to="3">4</li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <img src="../stylelib/images/test/c4.jpg" alt="">
                                        <div class="carousel-caption">
                                            <h4>第一缩略图测试标题</h4>
                                            <p>随便写点，中国科学院大学副校长吴岳良院士于2014年4月25日上午到中丹科教中心和中丹学院调研。中丹双方30多位师生齐聚中关村青年公寓130会议室进行交流座谈。</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../stylelib/images/test/c2.jpg" alt="">
                                        <div class="carousel-caption">
                                            <h4>第二缩略图测试标题</h4>
                                            <p>2013年9月，中丹学院迎来了98名中国学生和48名丹麦学生。迎新周的最后一天，中丹学院的开学典礼在掌声中落幕。</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../stylelib/images/test/c3.jpg" alt="">
                                        <div class="carousel-caption">
                                            <h4>第三缩略图测试标题</h4>
                                            <p>7月2日，应中国科学院大学数学科学学院的邀请，美国加州大学戴维斯分校统计系副教授彭捷博士在雁栖湖校区教学楼125教室作了题为Directed acyclic graphs learning via bootstrapaggregating的学术报告。</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../stylelib/images/test/c4.jpg" alt="">
                                        <div class="carousel-caption">
                                            <h4>第四缩略图测试标题</h4>
                                            <p>应中国科学院大学数学科学学院的邀请，来自美国奥本大学数学与统计系的曹延昭教授来到中科院，在雁栖湖校区教学楼123开设了20学时的夏季学期课程—随机偏微分方程</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--//homecarousel:end-->
                            <!--
                            //#homecarousel(这里需要在后台能设置)
                            // 轮播图片，（根据外框大小和上传图片自动缩放图片）
                            // 在后台做5个轮播组件。span4,span6,span8,span12
                            // span12 ，高度指定为369px(如果是span12的宽度，请在#homecarousel上添加full类名)。
                            // 其他四种按照演示中图片自动缩放后的大小为准。
                            // 图片高度可以不固定，但是要求高度一致
                             -->
                        </div>

                    </div><!--//span4:end-->
                    <div class="span4">
                        <div class="m-pagebox">
                            <h2 class="mp-title"><span>通知公告</span></h2>
                            <ul class="mp-list js-newhot">
                                <!-- js-newhot,列表前三行连接标红。（需要在后台能设置） -->
                                <li><span class="mpl-date">2014-1-12</span><a href="">2013年合影下载</a></li>
                                <li><span class="mpl-date">2014-1-21</span><a href="">“中国科技发展道路”高端学术论坛通知</a></li>
                                <li><span class="mpl-date">2014-1-22</span><a href="">关于召开中国发展战略学研究会第三届</a></li>
                                <li><span class="mpl-date">2014-1-23</span><a href="">关于召开创新战略专委会学术年会的通知</a></li>
                                <li><span class="mpl-date">2014-1-12</span><a href="">中国发展战略学研究会2014秘书长会议</a></li>
                                <li><span class="mpl-date">2014-1-21</span><a href="">2013学术年会暨第四次会员代表大会合影</a></li>
                                <li><span class="mpl-date">2014-1-22</span><a href="">牛文元研究员参与联合国秘书长潘基文</a></li>
                                <li><span class="mpl-date">2014-1-22</span><a href="">关于召开中国发展战略学研究会第三届</a></li>
                                <li><span class="mpl-date">2014-1-23</span><a href="">关于召开创新战略专委会学术年会的通知</a></li>
                                <li><span class="mpl-date">2014-1-12</span><a href="">中国发展战略学研究会2014秘书长会议</a></li>
                                <li><span class="mpl-date">2014-1-21</span><a href="">2013学术年会暨第四次会员代表大会合影</a></li>
                                <li><span class="mpl-date">2014-1-22</span><a href="">牛文元研究员参与联合国秘书长潘基文</a></li>
                            </ul>
                            <a href="" class="m-more"><span>更多</span></a>
                        </div><!--//m-pagebox:end-->
                    </div><!--//span4:end-->
                </div><!--//row-fluid:end-->

                <div class="row-fluid">
                    <div class="span4">
                        <div class="m-pagebox">
                            <h2 class="mp-title"><span>专委会活动</span></h2>
                            <ul class="mp-list js-newhot">
                                <li><span class="mpl-date">2012-10-12</span><a href="">国家发展战略学研究会第三届三次理事会在京召开</a></li>
                                <li><span class="mpl-date">2012-10-13</span><a href="">中国发展战略学研究会2010年学术年会暨三届二次理</a></li>
                                <li><span class="mpl-date">2012-10-14</span><a href="">中科院党组副书记方新在中国发展战略学研究会</a></li>
                                <li><span class="mpl-date">2012-10-15</span><a href="">曹效业理事长在中国发展战略学研究会2010年学术</a></li>
                                <li><span class="mpl-date">2012-10-16</span><a href="">发展战略学理论专业委员会迎新年研讨会成功召开</a></li>
                                <li><span class="mpl-date">2012-10-17</span><a href="">发展战略学理论专业委员会迎新年研讨会成功召开</a></li>
                            </ul>
                            <a href="" class="m-more"><span>更多</span></a>
                        </div><!--//m-pagebox:end-->

                        <div class="m-pagebox">
                            <h2 class="mp-title"><span>战略视野</span></h2>
                            <ul class="mp-list">
                                <li><span class="mpl-date">2012-10-12</span><a href="">中国发展战略学研究会第三届三次理事会在京召开</a></li>
                                <li><span class="mpl-date">2012-10-13</span><a href="">中国发展战略学研究会2010年学术年会暨三届二次理</a></li>
                                <li><span class="mpl-date">2012-10-14</span><a href="">中科院党组副书记方新在中国发展战略学研究会</a></li>
                                <li><span class="mpl-date">2012-10-15</span><a href="">曹效业理事长在中国发展战略学研究会2010年学术</a></li>
                               <!--  
                                <li><span class="mpl-date">2012-10-16</span><a href="">发展战略学理论专业委员会迎新年研讨会成功召开</a></li>
                                <li><span class="mpl-date">2012-10-17</span><a href="">发展战略学理论专业委员会迎新年研讨会成功召开</a></li> -->
                            </ul>
                            <a href="" class="m-more"><span>更多</span></a>
                        </div><!--//m-pagebox:end-->
                    </div><!--//span4:end-->
                    <div class="span8">
                        <div class="m-pagebox">
                            <h2 class="mp-title"><span>智库观点</span></h2>
                            <ul class="mp-plist">
                                <li>
                                    <a href="" class="mhp-photo">
                                        <img src="../stylelib/images/43.gif" alt="4:3">
                                        <!-- 图片尺寸固定4:3比例，其他比例变形，在后台设置图片时最好能检查或者上传时指定一个大小 -->
                                    </a>
                                    <a href="" class="mhp-title">国际学院成功举办首届前沿交叉科学暑期学校,国际学院成功举办首届前沿交叉科学暑期学校</a>
                                    <div class="mhp-content">本次“前沿与交叉科学暑期学校”一共历时两周，根据学科大方向分为A部分和B部分两个部分授课。除来自科学院的院士，百人计划、千人计划、杰出青年入选者亲自授课外，更是汇集了来自美国威斯康星大学、荷兰代尔夫特...</div>
                                </li>
                                <li>
                                    <a href="" class="mhp-photo">
                                        <img src="../stylelib/images/43.gif" alt="">
                                    </a>
                                    <a href="" class="mhp-title">国科大首届“前沿交叉科学暑期学校”正式开幕</a>
                                    <div class="mhp-content">6月19日上午八点，由中国科学院大学（国科大）国际学院和中丹学院联合举办的“前沿交叉科学暑期学校”在国科大中关村校区举行了开幕仪式。</div>
                                </li>
                                <li>
                                    <a href="" class="mhp-photo">
                                        <img src="../stylelib/images/43.gif" alt="">
                                    </a>
                                    <a href="" class="mhp-title">国科大首届“前沿交叉科学暑期学校”正式开幕</a>
                                    <div class="mhp-content">6月19日上午八点，由中国科学院大学（国科大）国际学院和中丹学院联合举办的“前沿交叉科学暑期学校”在国科大中关村校区举行了开幕仪式。</div>
                                </li>
                            </ul>
                            <a href="" class="m-more"><span>更多</span></a>
                        </div><!--//m-pagebox:end-->
                    </div><!--//span8:end-->
                </div><!--//row-fluid:end-->

            </div><!--//container:end-->
        </div>


        <!--//footer:start ***********************************************-->
        <footer id="footer">
            <div class="container">
                <div class="b-footer-link">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">友情连接 <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">虚拟经济与数据科学研究中心</a></li>
                            <li><a href="">长春光学精密机械与物理研究所</a></li>
                            <li><a href="">数学科学学院</a></li>
                            <li><a href="">计算地球动力学重点实验室</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b-footer-copy">@2014 中国科学院大学版权所有</div>
                <div class="b-footer-add">地址：北京市石景山区玉泉路19号（甲）  邮编:100049</div>
                <div class="b-footer-beian"><a href="">京ICP备07017956号</a></div>
            </div>
        </footer><!--//footer:end-->
        

        <!--// Loading JS -->
        <script src="../stylelib/jquery-1.10.2.min.js"></script>
        <script src="../stylelib/base.js"></script>
        
        <!--common script for all pages-->
        <script src="../stylelib/theme_tow/global.js"></script>

        <!--script for this page only-->
        
        <!--// JS End -->
    </body>
</html>