<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie7" lang="zh"><![endif]-->
<!--[if IE 7]> <html class="no-js ie7" lang="zh"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8" lang="zh"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="zh"> <![endif]-->
<!--[if IE 10]><html class="no-js ie ie10 lt-ie11" lang="zh"><![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="zh"> <!--<![endif]-->
    <head>
        <title>院系网站 - 中国科学院大学</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- // base css -->
        <link href="../stylelib/base.css" rel="stylesheet" type="text/css" />
        <!-- // plugins css -->

        <!-- // theme css -->
        <link href="../stylelib/theme_default/screen.css" rel="stylesheet" type="text/css" />
        <link href="../stylelib/theme_default/blue.css" rel="stylesheet" type="text/css" />

        <!-- // head js -->
        <script src="../stylelib/plugins/modernizr.js"></script>
    <link href="../stylelib/cp.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <!-- 
    // body
    // 在后台可以设置这里的背景图片和平铺不平铺的属性及位置 style代码。
    // style="background: transparent url("****") 0 0 no-repeat;"
    // transparent 表示透明色，可是只#f6f6f6类似的16进制的颜色值
    // url:是图片地址
    // 0 0: 定位属性，如果是横向平铺图片的话不用修改。X轴 Y轴
    // no-repeat: 不平铺。 这里可以指定是横向平铺还是竖向平铺 repeat-x , repeat-y
     -->

        <!--//topbar:start ***********************************************-->
        <div id="alert-upgrade-nojs">
            <ul>
                <li class="aun-up"><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer is missing updates required to properly view this site. Click here to update…</a></li>
                <li class="aun-js">您的浏览器已禁用JavaScript,(da)启(kai)用才能正常访问！</li>
            </ul>
        </div><!--//topbar:end-->
        

        <!--//header:start ***********************************************-->
        <div id="header">
        <!-- 
        // #header
        // 在后台可以设置这里的背景图片和平铺不平铺的属性及位置 style代码,背景图片高度限制在 64px 。
        // style="background: transparent url("****") 0 0 no-repeat;"
        // url:是图片地址
        // 0 0: 定位属性，如果是横向平铺图片的话不用修改。X轴 Y轴
        // no-repeat: 不平铺。 这里可以指定是横向平铺还是竖向平铺 repeat-x , repeat-y
         -->

            <div class="container">
                <h1 id="logo">
                    <a href="" class="m-logo-ucas" title="返回中国科学院大学" alt="中国科学院大学">
                        <img src="../stylelib/images/CPLog.png" alt="">
                        <span>中国科学院大学</span>
                    </a>
                    <!-- m-logo-ucas: a标签的连接地址（title与alt属性）和img图片在后台可编辑和选择（上传）（默认地址指向科学院大学中文网首页） -->
                    <!-- <a href="" class="m-logo-sys" title="返回院系网站名称" alt="院系网站名称">
                        <img src="../stylelib/images/test/logo_sys.png" title="返回虚拟经济与数据科学研究中心" alt="虚拟经济与数据科学研究中心">
                        <span>院系网站名称</span>
                    </a> -->
                    <!-- m-logo-sys: a标签的连接地址（title与alt属性）和img图片在后台可编辑和选择（上传）（默认连接为本网站首页） -->
              </h1>
                
                <ul class="b-toplink">
                    <li><a href=""><span>English</span></a></li>
                    <li><a href=""><span>加入收藏</span></a></li>
                    <li><a href=""><span>联系我们</span></a></li>
                    <li><a href=""><span>登陆</span></a></li>
                </ul>
            </div><!--//container-fluid:end-->
        </div><!--//header:end-->

        <!--//page nav bar:start *****************************************-->
        <div class="b-pagenavbar">
            <div class="container">
                <ul class="b-menu">
                    <li class="bm-node"><a href="#" class="bm-btn">首页</a></li>
                    <li class="bm-node active">
                        <a href="" class="bm-btn">模板演示</a>
                        <ul class="bm-tomenu">
                            <li class="active"><a href="#">首页演示2</a></li>
                            <li><a href="">首页演示3</a></li>
                            <li><a href="">aaa</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目1</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目1-1</a></li>
                            <li><a href="">栏目1-2</a></li>
                            <li><a href="">栏目1-3</a></li>
                            <li><a href="">栏目1-4</a></li>
                            <li><a href="">栏目1-5</a></li>
                            <li><a href="">栏目1-6</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目2</a>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目3</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目3-1</a></li>
                            <li><a href="">栏目3-2</a></li>
                            <li><a href="">栏目3-3</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目4</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目4-1</a></li>
                            <li><a href="">栏目4-2</a></li>
                            <li><a href="">栏目4-3</a></li>
                            <li><a href="">栏目4-4</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目5</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目5-1</a></li>
                            <li><a href="">栏目5-2</a></li>
                            <li><a href="">栏目5-3</a></li>
                            <li><a href="">栏目5-4</a></li>
                            <li><a href="">栏目5-5</a></li>
                            <li><a href="">栏目5-6</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目6</a>
                         <ul class="bm-tomenu">
                            <li><a href="">栏目6-1</a></li>
                            <li><a href="">栏目6-2</a></li>
                            <li><a href="">栏目6-3</a></li>
                            <li><a href="">栏目6-4</a></li>
                            <li><a href="">栏目6-5</a></li>
                        </ul>
                    </li>
                    <li class="bm-node">
                        <a href="" class="bm-btn">栏目7</a>
                        <ul class="bm-tomenu">
                            <li><a href="">栏目7-1</a></li>
                            <li><a href="">栏目7-2</a></li>
                            <li><a href="">栏目7-3</a></li>
                            <li><a href="">栏目7-4</a></li>
                            <li><a href="">栏目7-5</a></li>
                        </ul>
                    </li>
                </ul><!--//b-menu:end-->
            </div><!--//container:end-->
        </div><!--//b-pagenavbar:end-->

        <div class="b-maincontent"> 
            <div class="container">
                <ul class="b-pagepath breadcrumb">
                    <li><i class="icon-map-marker icon-grey"></i><span class="divider">/</span></li>
                    <li><a href="">首页</a><span class="divider">/</span></li>
                    <li><a href="">演示模板</a><span class="divider">/</span></li>
                    <li class="active"><a href="">首页演示2</a></li>
                </ul><!--//b-pagepath:end-->

                <div class="row-fluid">
                    <div class="span3">
                        <div class="b-side">
                            <ul class="b-sidenav">
                               <li class="yjcd_1">二级栏目</li>
                                <li class="active">
                                    <a href="">二级栏目2</a>
                                    <ul>
                                        <li><a href="">2-3-1</a></li>
                                        <li class="active"><a href="">2-3-2</a></li>
                                        <li><a href="">2-3-3</a></li>
                                        <li><a href="">2-3-4</a></li>
                                        <li><a href="">2-3-5</a></li>
                                        <li><a href="">2-3-6</a></li>
                                        <li><a href="">2-3-7</a></li>
                                        <li><a href="">2-3-8</a></li>
                                        <li><a href="">2-3-9</a></li>
                                        <li><a href="">2-3-10</a></li>
                                        <li><a href="">2-3-11</a></li>
                                        <li><a href="">2-3-12</a></li>
                                        <li><a href="">2-3-13</a></li>
                                    </ul>
                                </li>
                                <li><a href="">二级栏目3</a></li>
                                <li><a href="">二级栏目4</a></li>
                                <li><a href="">二级栏目5</a></li>
                                <li><a href="">二级栏目6</a></li>
                                <li><a href="">二级栏目7</a></li>
                            </ul><!--//b-sidenav:end-->
                        <br />
                        <br />
                        <div class="b-side">
                            <ul class="b-sidenav">
                                <li class="yjcd_2">二级栏目</li>
                                <li>
                                    <a href="">二级栏目2</a>
                                </li>
                                <li><a href="">二级栏目3</a></li>
                                <li><a href="">二级栏目4</a></li>
                                <li><a href="">二级栏目5</a></li>
                                <li><a href="">二级栏目6</a></li>
                                <li><a href="">二级栏目7</a></li>
                            </ul><!--//b-sidenav:end-->
                        </div><!--//b-side:end-->
                        </div><!--//b-side:end-->
                    </div><!-- //span3:end -->
                    <div class="span9">
                        <div class="b-pagecontent">
                            <div class="b-abody">
                             


                            <table class="table table-striped table-bordered">
                            	 <tbody>
                                    
                                     <tr>
                                    	 <td style="color:#afafaf;">全名</td>
                                        <td>王丹</td>
                                        
                                     </tr>
                                     <tr>
                                    	 <td style="color:#afafaf;">照片</td>
                                        <td><img src="../stylelib/images/43.gif"" style="height:130px;width:100px;"></td>
                                        
                                     </tr>
                                     <tr>
                                    	 <td style="color:#afafaf;">状态</td>
                                        <td>&nbsp; </td>
                                        
                                     </tr>
                                     <tr>
                                    	 <td style="color:#afafaf;">登录名</td>
                                        <td>&nbsp; </td>
                                        
                                     </tr>
                                     <tr>
                                    	 <td style="color:#afafaf;">职工编号</td> <td>&nbsp; </td>
                                        
                                     </tr><tr>
                                    	 <td style="color:#afafaf;">性别</td> <td>&nbsp;</td>
                                        
                                     </tr><tr>
                                    	 <td style="color:#afafaf;">出生日期</td> <td>&nbsp; </td>
                                        
                                     </tr><tr>
                                    	 <td style="color:#afafaf;">工作电子邮件</td> <td><a href="">wangdan@gucas.ac.cn</a></td>
                                        
                                     </tr><tr>
                                    	 <td style="color:#afafaf;">办公电话</td> <td>&nbsp; </td>
                                        
                                     </tr><tr>
                                    	 <td style="color:#afafaf;">办公地址</td> <td>&nbsp; </td>
                                        
                                     </tr><tr>
                                    	 <td style="color:#afafaf;">通讯地址</td> <td>&nbsp; </td>
                                        
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">邮政编码</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">行政职务</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">党务职务</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">现任岗位</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">任职时间</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">政治面貌</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">入党时间</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">毕业学校</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">所学专业</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                     <tr>
                                       <td style="color:#afafaf;">毕业时间</td>
                                       <td>&nbsp;</td>
                                     </tr>
                                   </tbody>
                               </table>
                               
                       
                       
                        </div><!--   //zhengwen:end -->
                     <p>创建时间: 2012/8/21 14:21，创建者: <a a href="">王刚</a></p>

                      </div><!--//b-abody:end-->
                        </div><!-- //b-pagecontent:end -->
                    </div><!-- //span9:end -->
                </div><!--//row-fluid:end-->

            </div><!--//container:end-->
        </div>


        <!--//footer:start ***********************************************-->
        <footer id="footer">
            <div class="container">
                <div class="b-footer-link">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">友情连接 <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="">虚拟经济与数据科学研究中心</a></li>
                            <li><a href="">长春光学精密机械与物理研究所</a></li>
                            <li><a href="">数学科学学院</a></li>
                            <li><a href="">计算地球动力学重点实验室</a></li>
                        </ul>
                    </div>
                </div>
                <div class="b-footer-copy">@2014 中国科学院大学版权所有</div>
                <div class="b-footer-add">地址：北京市石景山区玉泉路19号（甲）  邮编:100049</div>
                <div class="b-footer-beian"><a href="">京ICP备07017956号</a></div>
            </div>
        </footer><!--//footer:end-->
        

        <!--// Loading JS -->
        <script src="../stylelib/jquery-1.10.2.min.js"></script>
        <script src="../stylelib/base.js"></script>
        
        <!--common script for all pages-->
        <script src="../stylelib/theme_default/global.js"></script>

        <!--script for this page only-->
        
        <!--// JS End -->
    </body>
</html>