<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<body>

<header th:fragment="header">

    <!--//header:start ***********************************************-->
    <div id="header">

        <div class="container">
            <h1 id="logo">
                <a href="" class="m-logo-ucas" title="返回中国科学院大学" alt="中国科学院大学">
                    <img src="stylelib/images/CPLog.png" alt=""/>
                    <span>教育云CP</span>
                </a>
            </h1>

            <ul class="b-toplink">

                <li><a href=""><span>加入收藏</span></a></li>
                <li><a href=""><span>联系我们</span></a></li>
                <li><a href=""><span>登陆</span></a></li>
            </ul>
        </div><!--//container-fluid:end-->
    </div><!--//header:end-->
</header>

<!--// JS End -->
</body>
</html>