<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<aside th:fragment="left">
    <div class="b-side">
        <ul class="b-sidenav">
            <li class="yjcd_1">版本管理</li>
            <li>
                <a href="/check/list">部署版本</a>
                <a href="">线上版本</a>
            </li>
        </ul><!--//b-sidenav:end-->
    </div><!--//b-side:end-->
    <br/>
    <br/>
    <div class="b-side">
        <ul class="b-sidenav">
            <li class="yjcd_2">配置文件</li>
            <li>
                <a href="">配置列表</a>
            </li>

        </ul><!--//b-sidenav:end-->
    </div><!--//b-side:end-->
    <br/>
    <br/>
</aside>

</body>
</html>

