<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>版本控制</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>编辑版本控制信息</h1>
    <form action="#" th:action="@{/check/checkinfo}" th:object="${checkinfo}" method="post">
        <p><input type="hidden" th:field="*{id}"/></p>

        <p>应用appid: <input type="text" th:field="*{appid}" placeholder="appid"/></p>
        <p>应用名称: <input type="text" th:field="*{appname}" placeholder="appname"/></p>
        <p>渠道id: <input type="text" th:field="*{channelid}"/></p>
        <p>渠道名称: <input type="text" th:field="*{channelname}"/></p>
        <p>应用版本: <input type="text" th:field="*{appVersion}"/></p>

        <p>更新策略: <input type="text" th:field="*{updatestrategy}" placeholder="更新策略 1:提示更新 2:强制更新 3:不更新"/></p>
        <p>资源baseUrl: <input type="text" th:field="*{baseurl}"/></p>

        <p>apk跟新地址: <input type="text" th:field="*{apkurl}"/></p>

        <p>提示更新集合: <input type="text" th:field="*{promptcollection}" placeholder="例如：1.0,1.1"/></p>
        <p>强制更新集合: <input type="text" th:field="*{forcecollection}" placeholder="例如：1.0,1.1"/></p>
        <p>排除更新集合: <input type="text" th:field="*{excludecollection}" placeholder="例如：1.0,1.1"/></p>


        <p>更新信息: <textarea rows="10" cols="50"  type="text" th:field="*{updateinfo}">
        </textarea></p>

        <p><input type="submit" value="保存"/> <input type="reset" value="重置"/></p>
    </form>

    <p>点击"提交"按钮，表单数据将被发送到服务器”。</p>
</body>
</html>