<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>版本控制</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>编辑版本控制信息</h1>
    <form action="#" th:action="@{/versioning}" th:object="${versioning}" method="post">
        <p><input type="hidden" th:field="*{id}"/></p>

        <p>应用appid: <input type="text" th:field="*{appid}" placeholder="appid"/></p>
        <p>应用名称: <input type="text" th:field="*{appname}" placeholder="appname"/></p>
        <p>渠道id: <input type="text" th:field="*{channelid}"/></p>
        <p>渠道名称: <input type="text" th:field="*{channelname}"/></p>
        <p>应用版本: <input type="text" th:field="*{appVersion}"/></p>

        <p>服务器IP或者域名: <input type="text" th:field="*{serverIp}"/></p>
        <p>服务器端口: <input type="text" th:field="*{serverPort}"/></p>

        <p>热更新信息: <textarea rows="10" cols="50" type="text" th:field="*{hotfix}">
        </textarea></p>
        <p>热更新参数: <textarea rows="10" cols="50" type="text" th:field="*{params}">
        </textarea></p>

        <p>屏蔽信息: <textarea rows="10" cols="50"  type="text" th:field="*{shields}">
        </textarea></p>

        <p>用户自定义: <textarea rows="10" cols="50"  type="text" th:field="*{define1}">
        </textarea></p>
        <p>用户自定义: <textarea rows="10" cols="50"  type="text" th:field="*{define2}">
        </textarea></p>

        <p><input type="submit" value="保存"/> <input type="reset" value="重置"/></p>
    </form>

    <p>点击"提交"按钮，表单数据将被发送到服务器”。</p>
</body>
</html>