<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>版本管理系統</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- // base css -->
    <link href="stylelib/base.css" rel="stylesheet" type="text/css" />
    <!-- // plugins css -->

    <!-- // theme css -->
    <link href="stylelib/theme_default/screen.css" rel="stylesheet" type="text/css" />
    <link href="stylelib/theme_default/blue.css" rel="stylesheet" type="text/css" />

    <!-- // head js -->
    <script src="stylelib/plugins/modernizr.js"></script>
    <link href="stylelib/cp.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<!--//header:start ***********************************************-->
<div id="header" th:replace="fragments/header :: header">
</div><!--//header:end-->

<div class="b-maincontent">
    <div class="container">

        <div class="row-fluid">
            <!--左側部分-->
            <div class="span3" th:replace="fragments/left :: left" >
            </div><!-- //span3:end -->

            <!--中间内容部分-->
            <div class="span9" th:replace="fragments/content :: content">
            </div><!-- //span9:end -->


        </div><!--//row-fluid:end-->

    </div><!--//container:end-->
</div>

<script src="stylelib/jquery-1.10.2.min.js"></script>
<script src="stylelib/base.js"></script>
<script src="stylelib/theme_tow/global.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var size = /*[[${size}]]*/ 0;
    if(size!=null && size>0){
        locationUrl('/standard/my/0','home');
    }else{
        locationUrl('/tool','tool');
    }
    /*]]>*/

</script>

<!--// JS End -->
</body>
</html>