body { background: transparent url(img/body_bg3.jpg) center -60px no-repeat; }


/*------------------------------------------------------------
* header
*/

#logo a span { color: #464646; }

#logo a i { color: #666; }


/*------------------------------------------------------------
* b-pagenavbar
*/

.b-menu {
    background: #0066cc url(img/pagenavbar_bg_green.jpg) 0 0 repeat-x;
}

.b-menu .bm-node {
    /*padding-left: 1px;*/
    background: transparent url(img/pagenavbar_menu_hr_green.png) right center no-repeat;
}

.b-menu li .bm-btn { color: #fff; }
.b-menu li .bm-btn:hover,
.b-menu li.open .bm-btn,
.b-menu .active .bm-btn {
   background-color: rgba(0,0,0,.3);
}

.b-menu li.m-last {
    background-image: none;
}

/*-------------------------------------------------------------
* m-pagebox
*/

.m-pagebox .mp-title {
    background: #f1f2f3 url(img/pagebox_titlebg.jpg) 0 0 repeat-x;
    color: #186500;
}

.m-pagebox .mp-title span {
    display: block;
    padding-left: 20px;
    background: transparent url(img/title_icon_green.gif) 0 4px no-repeat;
}

.m-pagebox .m-more {
    color: #999;
}

.m-pagebox .m-more:hover {
    color: #333;
}


/*-------------------------------------------------------------
* b-side
*/
.b-sidenav li ul {
    border-top: 3px solid #249B00;
}

.b-sidenav li.active a {
    color: #249B00;
}

/*-------------------------------------------------------------
* footer
*/




